<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenidos a Stop Bullying</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  rel="stylesheet" type="text/css" href="/estilos.css"> </link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet"></link>
	<!-- Latest compiled and minified JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
	<script src="bootstrap-modal.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>


<body>


<div class="container">
	<div  id="encabezado" class="row">
		<div class="col-lg-12">
			<h1 id="encabezado-tipo">Stop Bullying</h1>
		</div>
	</div>
	
	<div class="row links">
		<div class="col-lg-12">
			<nav>
				<a href="/inicio/" class="navbar-brand">Inicio</a>
				<a class="navbar-brand" href="#">Casa</a>
				<a class="navbar-brand" href="#">Escuela</a>
				<a href="/experiencias/" class="navbar-brand">Experiencias</a>
        		<a href="/pensamientos_positivos/" class="navbar-brand">Pensamiento Positivo</a>
        		<a href="/centros" class="navbar-brand">Centros de atención</a>
        		<a href="/contacto" class="navbar-brand">Contacto</a>
			</nav>
		</div>
	</div>
	
	<h2>Contacto</h2>
	<p id="gracias" th:text="${gracias}"></p>	
	<p>Dejanos tus consultas</p>
	
	
	<div id="formulario-exp" class="row">
		<div class="col-lg-6">
			<form class="form-inline" action="/contacto" method="POST">
				<div class="form-group">
				<p th:text="${error}"></p>
					<label for="mail">Mail:</label><br></br>
					<input name="mail" class="form-control" type="text" th:value="${mail}" placeholder="Ingrese su mail..."></input>
				</div>
				<br></br>
				<br></br>
				<div class="form-group">
					<label for="comentario">Comentario:</label><br></br>
					<textarea id="texto" name="comentario" class="form-control" type="text" rows="7" th:text="${comentario}" placeholder="Ingrese un comentario..."></textarea>
				</div>
				<br></br>
				<br></br>		
					
					
					<button id="enviar" href="#myModal" type="submit" class="btn btn-defaultv btn-primary btn-large" data-toggle="modal">Enviar</button>
				</form>
		 </div>
		 
		<div class="col-lg-6"><img id="stop" src="/stop.jpg"></img></div>	 
	</div>
	
	
	

	
	<br></br>
	<br></br>
	
	
	
		<div  id="footer" class="row">
			<div class="col-lg-8">
				<h4>2017@STOPBULLYING</h4>
			</div>
		
			<div class="col-lg-4">
				<h4>contacto@stopbullying.com.ar</h4>
			</div>
		</div>
	
	

</div>


</body>
</html>





