<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenidos a Stop Bullying</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  rel="stylesheet" type="text/css" href="/estilos.css"> </link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet"></link>
	<!-- Latest compiled and minified JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://static.filestackapi.com/v3/filestack.js"></script>
	<script type="text/javascript" src="/funciones.js"></script>
</head>


<body>


<div class="container">
	<div  id="encabezado" class="row">
	
		<div class="col-lg-12">
			<h1 id="encabezado-tipo">Stop Bullying</h1>
			<h4>¡Bienvenid@ al sitio creado para buscar información o ayuda sobre el Bullying!</h4>
			
		</div>
		
	</div>
	
	<div class="row links">
		<div class="col-lg-12">
			<nav>
				<a href="/inicio/" class="navbar-brand">Inicio</a>
				<a href="/padres" class="navbar-brand">Casa</a>
				<a href="/escuela" class="navbar-brand">Escuela</a>
				<a href="/experiencias/" class="navbar-brand">Experiencias</a>
        		<a href="/pensamientos_positivos/" class="navbar-brand">Pensamiento Positivo</a>
        		<a href="/centros" class="navbar-brand">Centros de atención</a>
        		<a href="/contacto" class="navbar-brand">Contacto</a>
        		
			</nav>
		</div>
	</div>
	
	<div class="sol" >
	 <img src="/sol.png"></img>
      </div>

	<div id="casa">
		<img src="/casa.png"></img>
	</div>
			
	<div id="escuelaImg">
		<img src="/escuelaImg.png"></img>
	</div>	


	<div class="row inicio">
		<div class="col-xs-12 fondo2">
			
				<img class="fondo" src="/fondo.jpg"></img>
		
		</div>
	</div>
	
	<div id="footer" class="row">
		<div class="col-lg-8">
			<h4>2017@Stop Bullying</h4>
		</div>
		
		<div class="col-lg-4">
			<h4>contacto@stopbullying.com.ar</h4>
		</div>
	</div>
	
	

</div>


</body>
</html>

