<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenidos a Stop Bullying</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link  rel="stylesheet" type="text/css" href="/estilos.css"> </link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet"></link>
	<!-- Latest compiled and minified JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://static.filestackapi.com/v3/filestack.js"></script>
	<script type="text/javascript" src="/funciones.js"></script>
</head>


<body>


<div class="container">
	<div  id="encabezado" class="row">
		<div class="col-lg-12">
			<h1 id="encabezado-tipo">Stop Bullying</h1>
		</div>
	</div>
	
	<div class="row links">
		<div class="col-lg-12">
			<nav>
				<a href="/inicio/" class="navbar-brand">Inicio</a>
				<a href="/padres" class="navbar-brand">Casa</a>
				<a href="/escuela" class="navbar-brand">Escuela</a>
				<a href="/experiencias/" class="navbar-brand">Experiencias</a>
        		<a href="/pensamientos_positivos/" class="navbar-brand">Pensamiento Positivo</a>
        		<a href="/centros" class="navbar-brand">Centros de atención</a>
        		<a href="/contacto" class="navbar-brand">Contacto</a>
			</nav>
		</div>
	</div>
	
	<h2>Información para los padres</h2>
	
	<h3 class="recuadro">¿Qué es el bullying?</h3>
	<p>Es el maltrato o intimidación que se manifiesta cotidianamente, entre niños, niñas y adolescentes.
	Este comportamiento violenta se da co la intención de dañar a otras personas. Es persistente y repetitivo.</p>
	<br></br>
	<p>Aunque muchas veces parezcan bromas, lo cierto es que vivir violencia en la escuela puede tener consecuencias
	desagradables para todos los involucrados</p>
	
	<img src="/image1.jpg"></img>
	<br></br>
	<br></br>
	<h3 class="recuadro">¿Cuáles son los tipos de bullying?</h3>
	
	<p>Las conductas de bullying se presentan de diferentes maneras:</p>
		<ul>
			<li>Físico</li>
			<li>Psicológico</li>
			<li>Cibernético</li>
			<li>Sexual</li>
			<li>Exclusión social</li>
		</ul>
	<br></br>
	<h3 class="recuadro">¿Cómo identifico si mi hijo sufre abuso escolar?</h3>
		<ul>
			<li>Baja repentina en las calificaciones.</li>
			<li>Muestra cambios repentinos de estados de ánimo.</li>
			<li>Frecuentemente manifiesta no querer asistir a la escuela, buscando diferentes excusas.</li>
			<li>Signos de ansiedad.</li>
			<li>Constantemente "pierde" objetos o presenta heridas inexplicables.</li>
		</ul>
	<br></br>
	<h3 class="recuadro">¿Cómo puedo ayudar a mi hijo si recibe maltrato escolar?</h3>
		<ul>
			<li>Establezca un ambiente de confianza para que su hijo le comente cualquier situación.</li>
			<li>Escuche a su hijo con la intención de comprender, eviatarlo etiquetarlo como víctima.</li>
			<li>Hable con él para plantaer juntos alternativas de solución</li>
			<li>Fomenta la autonomía y la asertividad; que sin temor y de manera respetuosa diga lo que necesita, siente o le molesta.</li>
		</ul>
	<br></br>
	<h3 class="recuadro">¿Cómo identifico si mi hijo ejerce violencia escolar?</h3>	
		<ul>
			<li>Busca manipular o dominar a los demás.</li>
			<li>Presume superioridad sobre sus compañeros.</li>
			<li>Es impulsivo, se enoja fácilmente.</li>
			<li>Defiende sus acciones negativas con argumento como por ejemplo, "los demás se lo merecen":</li>
			<li>Se muestra violento con los otros miembros de la familia.</li>
		</ul>
		
		<img src="/image2.jpg"></img>
	<br></br>
	<br></br>	
	<h3 class="recuadro">¿Cómo puedo ayudar si mi hijo ejerce violencia escolar?</h3>
		<ul>
			<li>Evite ignorar la situación o minimizar su importancia.</li>
			<li>Establezca un ambiente de confianza en el cual pueda encontrar las causas de su comportamiento.</li>
			<li>Mantenga la calma al hablar con su huji, identifique sus temores.</li>
			<li>Desarrolle reglas claras y consistentes en la familia.</li>
		</ul>
		
	<br></br>
	
	<button id="volver" class="btn btn-defaultv btn-primary btn-large">Volver</button>
	
	<br></br>
	<br></br>
		<div  id="footer" class="row">
			<div class="col-lg-8">
				<h4>2017@STOPBULLYING</h4>
			</div>
		
			<div class="col-lg-4">
				<h4>contacto@stopbullying.com.ar</h4>
			</div>
		</div>
	

</div>


</body>
</html>





